
.search-bar {
    align-items: center;
  }
  
  .search-bar input {
    flex: 1;
    height: 40px; /* Adjust the height as needed */
    border-radius: 4px;
    padding: 0 10px;
    border: 1px solid #ced4da;
    margin-right: 10px;
  }
  
  .search-button {
    border: solid 3px ;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }
  
  .search-button:hover {
    color: blue; /* Change color on hover */
  }
  